@*@QnSCodeCopy*@
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using QnSCommunityCount.AspMvc.Modules.Session
@model QnSCommunityCount.AspMvc.Models.Persistence.App.CostRecord
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}
@*End:Header*@

@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    Func<string, string> translateFor = pn => translate($"{controller}.{pn}");
    string title = Model.Id == 0 ? "Create" : "Edit";
    string action = Model.Id == 0 ? "CreateCostRecord" : "EditCostRecord";
    var communityCosts = Model.CommunityCosts;
    var costCollection = Model.CommunityCosts.CostCollection;

    title = translate(title);
    ViewData["Title"] = title;
    ViewData["TranslateFor"] = translateFor;
}

<h1>@title</h1>
<div class="d-flex bg-transparent">
    <div class="p-sm-2 mr-auto">
        <h4>@translate(controller)</h4>
    </div>
</div>
<hr />

<dl class="row">
    <dt class="col-sm-4">
        <label class="control-label">@translateFor(nameof(costCollection.Designation))</label>
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => costCollection.Designation)
    </dd>
    <dt class="col-sm-4">
        <label class="control-label">@translateFor(nameof(costCollection.Description))</label>
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => costCollection.Description)
    </dd>
    <dt class="col-sm-4">
        <label class="control-label">@translateFor(nameof(costCollection.Currency))</label>
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => costCollection.Currency)
    </dd>
    <dt class="col-sm-4">
        <label class="control-label">@translateFor(nameof(costCollection.Category))</label>
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => costCollection.Category)
    </dd>
    <dt class="col-sm-4">
        <label class="control-label">@translateFor(nameof(communityCosts.TotalCosts))</label>
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => communityCosts.TotalCosts)
    </dd>
</dl>
<hr />
<form asp-action="@action" method="post">
    @if (Model.HasError)
    {
        <span class="field-validation-error" data-valmsg-for="Error" data-valmsg-replace="true">@Model.ActionError</span>
    }
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="CostCollectionId" value="@Model.CostCollectionId" />
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @await Html.PartialAsync("_EditCostRecordBody", Model, ViewData)
        </div>
    </div>
    @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd())
</form>

@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
